.gradle/
build/
out/
bin/
target/
.DS_Store

*.class
*.log
*.tmp

.idea/
.vscode/
*.iml

.env
.env.*
!.env.example
envs/*.env
envs/*.local
envs/*.secret
!envs/*.example

docker/.env
docker/*.local.env

application-local.yml
application-local.yaml

.sonar/
